.price-card__title {
    margin: 33px 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &__name {
        margin: 0;
        font-size: 35px;
        line-height: 43px;
        font-weight: 700;
    }
    &__description {
        font-size: 20px;
        line-height: 24px;
    }
    &__badge {
        width: 122px;
        height: 123px;
        position: absolute;
        top: -56px;
        right: -133px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: content-box;
        & .badge__text {
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            width: 200%;
            text-align: center;
            display: inline-block;
            text-transform: uppercase;
            align-items: center;
            background: #dc3f45;
            transform: rotate(45deg);
        }
    }
}