img[alt="Pollution"]{
    border: 5px solid red;
}

img[src$=".jpg"]{
    margin-left: 50px;
}

li[data-description~="even"]{
    background-color: grey;
}

a[href^="https://"]{
    color:green
}

span[lang|="en"]{
    font-size: 28px;
}