*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: center;
}

.articles-list{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.article{
    margin: 8px;
    padding: 16px;
    flex-grow: 1;
    background-color: bisque;
    width: 300px;
}