.list{
    list-style-type: none;
}

.list li{
    font-size: 1.5em;
}
.list li.third{
    text-decoration: underline;
    text-decoration-color: green;
}
.list li.second{
    text-decoration: line-through;
}

.list li:first-child{
    text-decoration: overline;
    text-decoration-color: red;
}