@import 'breakpoints.scss';

*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    display: flex;
    @include direction{
        display: block;
    }
}

.square{
    width: 100px;
    height: 100px;
    margin: 8px;
    background-color: #ff7f50;
    @include for-extra-small {
        background-color: #8a2be2;
    };
    @include for-medium-large{
        background-color: #a61;
    };
    @include  for-extra-large{
        background-color: #c47;
    };
    @include direction{
        margin: 16px;
    }
}