table{
    margin: 16px;
    border-collapse: collapse;
    border: 1px solid #000;
}

th, td{
    min-width: 50px;
    height: 50px;
    text-align: center;
    border-collapse: collapse;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #000
}

tr:nth-child(odd) > td:nth-child(even){
    background-color: #000;
}
tr:nth-child(even) > td:nth-child(odd){
    background-color: #000;
}
tr:nth-child(1) > td,
tr:nth-last-child(1) > td,
tr > td:nth-child(1),
tr > td:nth-last-child(1){
    background-color: #fff !important;
    border: none;
}
